.profile-parent {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0.2em;
}

.profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile-icon > :first-child {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 100px;
}

.profile-options {
  position: relative;
}

.profile-options > * {
  position: absolute;
  background-color: var(--secondary-color);
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in Internet Explorer 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
  -ms-user-select: none;
  user-select: none;
}

.profile-options > :first-child {
  background-color: transparent;
  inset: 0px 0 0 8px;
  z-index: 1;
  color: var(--secondary-color);
}

.rotate-caret {
  animation-duration: 0.2s;
  animation-name: clockwise;
  transform: rotate(180deg);
}

@keyframes clockwise {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(180deg);
  }
}

.un-rotate-caret {
  animation-duration: 0.2s;
  animation-name: counter-clockwise;
  transform: rotate(0);
}

@keyframes counter-clockwise {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(0);
  }
}

/*
https://stackoverflow.com/questions/25863070/how-to-style-the-div-to-triangle-using-css
.profile-options > :first-child::after {
  content: '';
  height: 16px;
  width: 16px;
  left: -16px;
  top: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 16px solid red;
  border-bottom: 8px solid transparent;
  width: 0;
  z-index: 1000;
} */

.profile-options > :nth-child(2) {
  inset: 10px 0 0 -60px;
  width: 120px;
  height: 120px;
  border: 0.5px solid #808080;
  border-radius: 3px;
}

.z-index-3 {
  z-index: 3;
}
